@font-face {
  font-family: "Montserrat";
  src: url("/images/fonts/Montserrat.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("/images/fonts/Montserrat.woff2") format("woff2");
  font-style: italic;
  font-weight: 500 700;
}

@font-face {
  font-family: "Fraunces";
  src: url("/images/fonts/Fraunces.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

:root {
  --green500: hsl(158deg, 36%, 37%);
  --green700: hsl(158deg, 42%, 18%);
  --black: hsl(212deg, 21%, 14%);
  --grey: hsl(228deg, 12%, 48%);
  --cream: hsl(30deg, 38%, 92%);
  --white: hsl(0deg, 0%, 100%);

  --text-preset-1: normal 700 32px / 1 "Fraunces", serif;
  --text-preset-2: normal 700 14px / 1.1 "Montserrat", sans-serif;
  --text-preset-3: normal 500 14px / 1.6 "Montserrat", sans-serif;
  --text-preset-4: normal 500 12px / 1.2 "Montserrat", sans-serif;
  --text-preset-4-spacing: 5px;
  --text-preset-5: normal 500 13px / 1.2 "Montserrat", sans-serif;
  --text-preset-5-decoration: line-through;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 80px 0;
  box-sizing: border-box;
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

.product-card {
  max-width: 350px;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
}

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-category {
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-spacing);
  color: var(--grey);
  text-transform: uppercase;
}

.product-title {
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-spacing);
  color: var(--black);
}

.product-description {
  font: var(--text-preset-3);
  color: var(--grey);
}

.product-price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-price--actual {
  font: var(--text-preset-1);
  color: var(--green500);
}

.product-price--before {
  font: var(--text-preset-5);
  text-decoration: var(--text-preset-5-decoration);
  color: var(--grey);
}

.product-button {
  background-color: var(--green500);
  border: none;
  color: var(--white);
  font: var(--text-preset-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 17.5px;
  gap: 8px;
  border-radius: 8px;
}

@media (width >= 768px) {
  .product-card {
    display: flex;
    max-width: 600px;
  }

  .product-card > * {
    width: 50%;
  }

  .content {
    gap: 32px;
  }

  .product-title {
    font: var(--text-preset-1);
    letter-spacing: 0px;
  }

  .img-wrapper {
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
